<h1>{{msg.name}}</h1>
<p>{{msg.description}}</p>
<button id="deleteBtn">Delete</button>
<a href="/msgs">Back to home</a>
<script>
    document.getElementById("deleteBtn").addEventListener("click", function() {
        fetch(`/msgs/{{msg.id}}`, {
                method: "DELETE"
            })
            .then(response => {
                window.location.href = "/msgs";
            })
            .catch(error);
    });
</script>
